.click{
    width: 30px;
    height: 30px;
}

.comment{
    padding-left: 15px;
}

.date{
    padding-left: 70px;
}

.postit{
    padding-left: 75px;
}
ion-toolbar{
    --color:  #f65152;
  }
  ion-title{ 
    font-family: monospace;
    font-size: xx-large;
  }
  ion-card {
    border-style: solid ;
    border-color: red;
  }
  