
ion-toolbar{
  --background: #1F2325;
  --color:  #f65152;
}
ion-title{ 
  font-family: monospace;
  font-size: xx-large;
  text-align: center;
}

.logo {
  
  height: 25%;
  width:fit-content;
}
  
  ion-item{
    --background: #1F2325;
    --color: #fff;
  }
  
  ion-button{
    --background:#26457a;

    
  }
  ion-content{
    --background:#1F2325;
  }
  ion-input{
    --background:#1F2325;
  }
  
  
  h1{
  
     text-align: center;
  }
  
  
  
  