<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab4">
      <ion-icon name="home" color="danger"></ion-icon>
      <ion-label color="primary">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="chatbox" color="danger"></ion-icon>
      <ion-label color="primary">Discuss</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab6">
      <ion-icon name="person" color="danger"></ion-icon>
      <ion-label color="primary">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>