
  <ion-app>
    <ion-router-outlet>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
          <div class="slide">
            <h2> <b>Video Lessons</b> </h2>
            <p>We have a section <br> where you can reach video lectures of the lessons.</p> 
            <img class="a"  src="./assets/images/youtube.svg"/>
          </div>
        </ion-slide>

        <ion-slide>
          
          <h2>Lecture Notes</h2>
          <p>We have a section <br> where you can find the notes of the lessons.
          </p>
          <img src="./assets/images/study.svg"/>
        </ion-slide>

        <ion-slide>
         
          <h2>Exam Archives</h2>
          <p>We have a section <br> where you can find the archive questions of the lessons.</p>
          <img src="./assets/images/exam.svg"/>
        </ion-slide>

        <ion-slide>
          <img src="https://upload.wikimedia.org/wikipedia/tr/thumb/e/e2/Bo%C4%9Fazi%C3%A7i_%C3%9Cniversitesi_Logo.png/1200px-Bo%C4%9Fazi%C3%A7i_%C3%9Cniversitesi_Logo.png"/>
          <ion-button fill="solid" expand="block" color="light"> <a href="/tab1">Register</a></ion-button> <br>
          <ion-button fill="solid" expand="block" color="light"> <a href="/tab2">Login</a></ion-button><br><br>
        <h1>Let's Start!</h1> 
        </ion-slide>


       
       

      </ion-slides>
    </ion-content>
  </ion-router-outlet>
  </ion-app>

