.my-custom-menu {
    --width: 70%;
  }
  
 ion-menu{
//     // ion-item,
//     // ion-list, .list-md,
//     // ion-content{
//     //      background-color: teal;
       
//     // }
//     // ion-label{
//     //   color: black;
      
//     }
    ion-icon{
        color: blue($color: #000000);
    }
 }

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
    padding: 10% 0;
    // min-height: 200px;
    .logo-section__wrapper{
        text-align: center;
        .logo-section__logo{
            display: block;
            width: 80%;
            height: 80%;
            border-radius: 100%;
        }
        // .logo-section__title{
        //     font-size: 1.5rem;
        //     font-weight: normal;
        //     color: var(--text-color);
        // }
    }
}
