ion-label{

    text-align: center;
}

ion-toolbar{
    --background: #fff;
    --color:  #f65152;
  }
  ion-title{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
  }

  .card{
    padding-bottom: 10%;
}