<ion-app>
<ion-router-outlet>


<ion-header>
  <ion-toolbar> <a href="./tabs/tab4" > <ion-button fill="filled" slot="end"> <ion-icon name="return-up-back-outline"></ion-icon></ion-button></a>
    <ion-title>PHYS-101</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
 
    <div class="ion-padding">
  
      
      <ion-card>
      
          <iframe width="400" height="360"  src="https://www.youtube.com/embed/GtOGurrUPmQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
      </ion-card>
    

      <ion-card>
        
        <a  href="   https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxwaHlzMTAxc3VtbWVyMjAxN3xneDo2NDZiYmVjZjk5MjlkZWYy" ><ion-button fill="solid" expand="block" color="primary">  Lecture Notes</ion-button></a>
        <img src="../assets/images/sketchbook.svg" width="480" height="360" alt="">
      </ion-card>
    
    
      <ion-card class="card">
       
        <a  href=" http://www.phys.boun.edu.tr/~archive/PhysArchive/Phys101.html" ><ion-button fill="solid" expand="block" color="danger">  Exam Archive</ion-button></a>
        <img width="480" height="360" src="../assets/images/exam1.svg" alt="">
      </ion-card>

    
  
    </div>
  </ion-content>
</ion-router-outlet>
</ion-app>
